<div class="bckColor">
<div id="columns">

    <% for(var i=0; i < previews.length; i++) {%>

    <figure>

         <!-- Thumbnail -->
        <a href="/pages/<%- previews[i] %>">
        <img src="/prevs/<%- previews[i] %>.png" alt="Page <%- previews[i] %>">
        </a>

        <!-- Caption -->
        <figcaption>
        <h3><a href="/pages/<%- previews[i] %>">/<%- previews[i] %></a></h3>
        </figcaption>

    </figure>

    <% } %>

</div>

</div>
