<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- jQuery -->
        <script type='text/javascript' src="/js/jquery-3.1.1.min.js"></script>

        <script type='text/javascript' src="/js/main.js"></script>
        <script>
            function prev() {
                window.location.href = '/pages/' + '<%= data.prevPage %>';
            }
            function next() {
                window.location.href = '/pages/' + '<%= data.nextPage %>';
            }
        </script>
    </head>

    <body>
        <!-- Navigation -->
        <%- include partials/navigation.ejs %>

        <!-- Content -->
        <%if (data.type === 'editor') { %>

            <%- include partials/editor.ejs ; %>

        <% } else if (data.type === 'page') { %>

            <%- include(data.currentPage) %>

        <% } else if (data.type === '404') { %>

            <%- include partials/pageNotFound.ejs ; %>

        <% } else if (data.type === 'login') { %>

            <%- include('partials/login.ejs', {message: data.message}); %>

        <% } %>

    </body>
</html>
