<% if (!data.hasPreviews) { %>
<div>
    <h2><%- data.message %></h2>
</div>
<% } %>

<div id="columns">

    <% for(var i=0; i < data.pagesNameList.length; i++) {%>
    <figure>
        <a href="/pages/<%- data.pagesNameList[i] %>">
        
        <% if (data.hasPreviews) { %>
       
        <!-- Thumbnail -->
        <img src="/prevs/<%- data.pagesNameList[i] %>.png" alt="Page <%- data.pagesNameList[i] %>">
        <!-- Caption -->
        <figcaption>
        <h3>/<%- data.pagesNameList[i] %></h3>
        </figcaption>

        <% } else { %>
        
        h3>/<%- data.pagesNameList[i] %></h3>
        <% } %>
        </a>
    </figure>
    <% } %>
</div>
